<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICompiler" />
                <binding name="BasicHttpBinding_ICompiler1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/RemoteCompiler/Ep1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompiler"
                contract="ServiceReference2.ICompiler" name="BasicHttpBinding_ICompiler" />
            <endpoint address="http://localhost:8080/RemoteCompiler/Ep1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompiler1"
                contract="ServiceReference3.ICompiler" name="BasicHttpBinding_ICompiler1" />
        </client>
    </system.serviceModel>
</configuration>